body {
  background: black;
}
.App {
  color: white;
  display: flex;
  flex-direction: column;
}

.App > header {
  background: #272727;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 0 8px 0 8px;
}

.App > header svg path{
  fill: white;
}

.App > main {
  padding: 0 8px 0 8px;
}